.disabled { display: none; }
.flex { display: flex; }
.title { font-size: var(--ui-title-font-size); }
.center-both {
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
