@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

* {
  box-sizing: border-box;
}

:root {
  --ui-text-color: #FFF;
  --ui-text-font: Roboto;
}

html {
  color: var(--ui-text-color);
  font-family: var(--ui-text-font);
  cursor: default;
}
